.footer {
    background-color:#fff;
    position: fixed;
    width: 100%;
    bottom: -7px; 

    img {
        position: relative;
        bottom: 5px;
        left: 3.6%;
    }

    .azul { background-color: #1a3b47; }

    .azul-claro { background-color: #03657c; }

    .amarelo { background-color: #fbbb21; }

} 