// Arquivo para Customização de Botões do Projeto

.btn-danger, .btn-info, .btn-primary, .btn-success {
   color: #fff !important;
   background-color: #d22215 !important;
   border-color: #ea322d !important;
}

#page-content-wrapper {
   margin-bottom: 167px;
}