// Arquivo para Adicionar as Fontes do Projeto

@font-face {
   font-family: 'Neo Sans std', Courier, monospace;
   src: url('./assets/fonts/neo-sans-std.otf');
}

@font-face {
   font-family: 'Neo Sans std light', Courier, monospace;
   src: url('./assets/fonts/neo-sans-std-light.otf');
}